.popover {
    visibility: hidden;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #484848;
    position: relative;
    top: 10%;
    padding-left: 10%; 
  
}

.locations:hover .popover, 
.amenities:hover .popover {
    visibility: visible; 
    width: 100%; 
}

.popover li {
    padding: 10px;
    list-style: none;
}

.popover ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover h2 {
    font-size: 16px;
    margin: 0 0 5px 0;
}
.amenities .popover {
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 1%;
}
.locations .popover {
    margin-top: 1%;
    margin-left: -30px;
    width: 96%;

}
.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;   
    top: 0;
    bottom: 0;
    right: 30px;
    margin: auto;     
}

.search_button:hover{
    opacity: 0.9;
}

.filters div {
    height: 100%;
    width: 25%;
    display: inline-block;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 0;
    color: #484848;
    padding-top: 10%;
    padding-left: 10%;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    padding-left: 10%;  
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    text-align: left;
    padding-left: 30px;
    float: left;
    color: #484848;
    position: relative;
}